.conatiner-map {
  width: 35%;
  margin-left: 35%;
  margin-top: 70px;
}
.st0{fill:#31708f;stroke:#000000;stroke-miterlimit:10;}
.st1{stroke: rgb(207, 90, 5);stroke-width: 1;fill: rgb(230, 100, 5);}
.st2{stroke: rgb(201, 195, 86);stroke-width: 1;fill: rgb(223, 217, 95);}
.st3{stroke: rgb(201, 118, 10);stroke-width: 1;fill: rgb(223, 131, 11);}


.active{
  fill:rgb(112, 134, 143);
  fill-opacity:1;
  transform: 'scale(2)';
}
/* st0HP {
  fill:#318f36 !important;
} */
.active1 {
  stroke: rgb(0, 0, 0);
  stroke-width: 3;
  fill: rgb(194, 28, 28)
}
.active2 {
  fill:black;
  fill-opacity:1;
  transform: 'scale(2)';
}
.basic{
  stroke: rgb(46, 44, 44);
  stroke-width: 0.5;
  fill: rgb(191, 224, 224)
}
